*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(20, 20, 20);
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 136, 80);
    margin-bottom: 5rem;
    height: 10rem;
    color: white;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
    margin-bottom: 4rem;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    padding: 1rem;
}

.divh3{
    display: flex;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 136, 80);
    color: white;
    position:absolute;
    bottom: 0;
    width: 100%;
}

.foot{
    margin: 1rem;
}

.inputIngresar{
    height: 4rem;
    width: 8rem;
    border-radius: 1rem;
    background-color: rgb(1, 43, 1);
    border: rgb(1, 43, 1);
    color: white;
}

.ingresar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0rem 2rem 0rem;
}

.inputIngresar:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(1, 78, 1);
}

form{
    display: flex;
    flex-direction: column;
    width: 18rem;
    margin-right: 0rem;
    background-color: rgb(39, 39, 39);
    border-radius: 1rem;
}

.divForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labelNombre{
    margin-top: 2rem;
    color: white;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.inputLogin{
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
    border: black;
    color: white;
    height: 3rem;
    border-radius: .5rem;
}


.h2enlinea{
    margin-bottom: 4rem;
    color: rgb(2, 216, 2);
}

#headerChat{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 136, 80);
    margin-bottom: 1rem;
    height: 10rem;
    color: rgb(255, 255, 255);
}

.divMensajes{
    background-color: rgb(43, 42, 42);
    color: white;
    margin: 2rem 1rem 0rem 1rem;
    border-radius: .5rem;
    font-size: 1.1rem;
    font-weight: bolder;
}

.contenedorNotificaciones{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#barraBaja{
    position: absolute;
    width: 100%;
    bottom: 1rem;
}

#mensajeInput{
    margin-left: .5rem;
    width: 90%;
    height: 3.5rem;
    font-size: 1.2rem;
    background-color: rgb(43, 42, 42);
    color: white;
    border-radius: 1rem;
}

#mensajeEnviar{
    width: 8%;
    height: 3.5rem;
    background-color: rgb(13, 121, 13);
    border-color: rgb(20, 139, 20);
    color: white;
    border-radius: 1rem;
}

#mensajeEnviar:hover{
    transform: scale(1.05);
    cursor: pointer;
}
